*.html
\.~*
*.ods
*.zip
fr/fr/
italy
ro/*.pdf
sweden
it/it_calabria_all.csv
it/it_campania.csv
it/it_campania.xls
pl/pl_in_progress_erdf.xls
pl/pl_realized_erdf.xls
*Archive*
uk/Unsuccessful*
uk/Regional Policy UK South East.xlsx
it/Elenco_beneficiari modificato.xls
de/VZB_2007DE161PO004_files
*.pdf
